@mixin button {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.2s;
}

@mixin format-document {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}